<h2 class="sidebar-contact-heading heading-underline">Get in touch</h2>
<p class="contact-text">
  Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
</p>
<ul class="contact-personal-info-list">
  <li class="contact-personal-info icon-mail">
    <a href="https://www.gmail.com" target="_blank" class="contact-link">information@gmail.com</a>
  </li>
  <li class="contact-personal-info icon-phone">(000) 000-0000</li>
  <li class="contact-personal-info icon-home">1234 Somewhere Road #8254 Some City</li>
</ul>
