<div class="app-wrapper">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <header class="header">
      <a class="icon icon-twitter" href=""></a>
      <a class="icon icon-facebook" href=""></a>
      <a class="icon icon-snapchat" href=""></a>
      <a class="icon icon-instagram" href=""></a>
    </header>
    <router-outlet></router-outlet>
    <!-- <app-home-page></app-home-page> -->
    <!-- <app-generic-page></app-generic-page> -->
    <!-- <app-elements-page></app-elements-page> -->
  </div>
</div>
