@import "../../variables.scss";
@import "../../mixins.scss";

$sidebar-width: 26em;
$sidebar-width-screen-bigger: 24em;

.sidebar-wrapper {
  width: $sidebar-width;
  font-size: 0.9em;
  position: relative;
  left: 0;
  z-index: 10;
  transition: margin-left 0.5s;

  @media screen and (max-width: $max-width-screen-biggest) {
    width: $sidebar-width-screen-bigger;
  }

  @media screen and (max-width: $max-width-screen-bigger) {
    position: fixed;
  }
}

.sidebar {
  box-sizing: border-box;
  width: $sidebar-width;
  padding: 3em 2.2em;
  background-color: #f5f6f7;

  @media screen and (max-width: $max-width-screen-biggest) {
    width: $sidebar-width-screen-bigger;
    padding: 1.6em;
  }

  @media screen and (max-width: $max-width-screen-bigger) {
    height: 100vh;
    overflow: hidden auto;
  }
}

.sidebar-menu {
  font-family: "Roboto Slab", serif;
  color: #3d4449;
}

.sidebar-block {
  display: block;

  &:nth-child(n+2) {
    margin-top: 3.5em;
    padding-top: 3.5em;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
  }
}

.toggle-show-button {
  position: absolute;
  right: -7.5em;
  top: 0;
  width: 7.5em;
  height: 7.5em;
  line-height: 7.5em;
  color: $red;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  @media screen and (max-width: $max-width-screen-bigger) {
    width: 4em;
    height: 4em;
    line-height: 4em;
    right: -4em;
  }

  &::before {
    @media screen and (max-width: $max-width-screen-small) {
      content: '';
      width: 4em;
      height: 2.5em;
      position: absolute;
      top: 1em;
      left: 1em;
      border-radius: 0.375em;
      background-color: rgba(222, 225, 226, 0.75);
    }
  }

  &::after {
    @include icon("\f0c9", 2rem, 900);
    position: relative;

    @media screen and (max-width: $max-width-screen-bigger) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: $max-width-screen-small) {
      color: #7f888f;
      left: 0.55em;
      top: 0.15em;
    }
  }
}

.hidden {
  margin-left: -$sidebar-width;

  @media screen and (max-width: $max-width-screen-biggest) {
    margin-left: -$sidebar-width-screen-bigger;
  }
}

.fixed {
  position: fixed;
  bottom: 0;
}
