<article class="page-section-margin-big main-article">
  <article class="main-article-content">
    <h1 class="h1-default">Text heading should be written here</h1>
    <p class="main-article-text">Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
    <button class="link-button">LEARN MORE</button>
  </article>
  <img class="main-article-img" src="../../assets/images/tattoo.jpg"/>
</article>
<section class="page-section-margin-big">
  <h2 class="h2-font-size-default heading-underline">Erat lacinia</h2>
  <section class="feature-list">
    <div class="feature">
      <div class="icon-block icon-gem"></div>
      <div>
        <h3 class="h3-font-size-default h-margin-default">Portitor ullamcorper</h3>
        <p class="feature-text">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon-block icon-paper-plane"></div>
      <div>
        <h3 class="h3-font-size-default h-margin-default">Sapien veroeros</h3>
        <p class="feature-text">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon-block icon-rocket"></div>
      <div>
        <h3 class="h3-font-size-default h-margin-default">Quam lorem ipsum</h3>
        <p class="feature-text">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon-block icon-signal"></div>
      <div>
        <h3 class="h3-font-size-default h-margin-default">Sed magna finibus</h3>
        <p class="feature-text">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      </div>
    </div>
  </section>
</section>
<app-page-home-posts class="page-section-margin-big page-block"></app-page-home-posts>
