$red: #f56a6a;
$grey: #7f888f;

$max-width-screen-biggest: 1680px;
$max-width-screen-bigger: 1280px;
$max-width-screen-big: 980px;
$max-width-screen-small: 736px;
$max-width-screen-smaller: 480px;
$max-width-screen-smallest: 360px;

$min-width-screen-biggest: 1681px;
$min-width-screen-big: 981px;
